<strong>Olá, {{ deliveryman }}.</strong>
<p>O produto {{ product }} já está disponível para retirada. Confira abaixo as informações do destinatário:</p>
<p>
  <strong>Nome: </strong> {{ recipientName}} <br/>
  <strong>Estado: </strong> {{ recipientState }} <br/>
  <strong>Cidade: </strong> {{ recipientCity }} <br/>
  <strong>Rua: </strong> {{ recipientStreet }} <br/>
  <strong>Número: </strong> {{ recipientNumber }} <br/>
  <strong>CEP: </strong> {{ recipientZip }} <br/>
</p>
